@model zadanie.Models.Publications

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publications</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRelease" class="control-label"></label>
                <input asp-for="DateOfRelease" class="form-control" />
                <span asp-validation-for="DateOfRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popularity" class="control-label"></label>
                <input asp-for="Popularity" class="form-control" />
                <span asp-validation-for="Popularity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessorId" class="control-label"></label>
                <select asp-for="ProfessorId" class="form-control" asp-items="ViewBag.ProfessorId"></select>
                <span asp-validation-for="ProfessorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
