@{
    ViewData["Title"] = "Home Page";
}

<body style="overflow: hidden;">
    <div class="text-center">
        <h1 class="display-4">Medieval Campus</h1>
        <p>Learn about medieval campus professors.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <img src="/campus.png" alt="Campus" style="width:65%;height:50%;border: 2px solid #51c8b2;
                border-radius: 4px;">
                </div>
            </div>
        </div>
    </div>
</body>
