@{
    ViewData["Title"] = "Links";
}

<!--Strona z linkami związanymi z grą.-->

<h1>
    Relative links.
</h1>

<ul class="allLinks">
    <li><a href="https://github.com/KredekRepos/milosz_gajowczyk/tree/master/Lab2/zadanie" target="blank">C# game (Github)</a></li>
    <li><a href="https://github.com/KredekRepos/milosz_gajowczyk/tree/master/Lab3/Zadanie" target="blank">Game page (Github)</a></li>
</ul>